@import 'tailwindcss';
/* @tailwind utilities; */
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, dracula;
}

/* @plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #3a708a;
  --color-secundary: #008c9e;
  --color-accent: #556ef8;
  --color-error: #f44336;
  --color-warning: #d6a100;
  --color-info: #91bdd2;
  --color-success: #3c8c40;
} */

/* :root {
  --background: #d1cfcf;
  --foreground: #303030;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #303030;
    --foreground: #d1cfcf;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
} */
/* 
.novel-img-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 28.125rem !important;
  max-height: 31.25rem !important;
  min-width: 15.625rem !important;
  max-width: 18.75rem !important;
}

.novel-img {
  display: block !important;
  width: auto !important;
  transform: scale(0.2); 
} */
